<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="FileCastConfig" type="FileCastBusiness.FileCastConfigSectionHandler,FileCastBusiness" />
    </configSections>
    <FileCastConfig>
        <ArrayOfFileCastPair>
            <FileCastPair>
                <Source>D:\Temporary\iTI\CVLs</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\Temporary\iTI\CVLs</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\Temporary\MyIMG\GroupInvoice</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\Temporary\MyIMG\GroupInvoice</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\Temporary\Test iTI\CVLs</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\Temporary\Test iTI\CVLs</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\Temporary\test.MyIMG\GroupInvoice</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\Temporary\test.MyIMG\GroupInvoice</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\IMG\ColdFusion\Sites\imglobal.com\applications\ogt\temp</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\IMG\ColdFusion\Sites\imglobal.com\applications\ogt\temp</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\IMG\ColdFusion\Sites\imglobal.com\applications\epgt\temp</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\IMG\ColdFusion\Sites\imglobal.com\applications\epgt\temp</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\IMG\ColdFusion\Sites\imglobal.com\applications\pgt\temp</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\IMG\ColdFusion\Sites\imglobal.com\applications\pgt\temp</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\IMG\ColdFusion\Sites\imglobal.com\applications\pgg\temp</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\IMG\ColdFusion\Sites\imglobal.com\applications\pgg\temp</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\IMG\ColdFusion\Sites\imglobal.com\applications\sha\temp</Source>
                <Destinations>
                    <string>\\ind-webap1t-nl2\IMG\ColdFusion\Sites\imglobal.com\applications\sha\temp</string>
                </Destinations>
            </FileCastPair>
        </ArrayOfFileCastPair>
    </FileCastConfig>
</configuration>