<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="FileCastConfig" type="FileCastBusiness.FileCastConfigSectionHandler,FileCastBusiness" />
    </configSections>
    <FileCastConfig>
        <ArrayOfFileCastPair>
            <FileCastPair>
                <Source>D:\Temp</Source>
                <Destinations>
                    <string>C:\Temp</string>
                    <string>C:\Temp1</string>
                </Destinations>
            </FileCastPair>
            <FileCastPair>
                <Source>D:\Temp1</Source>
                <Destinations>
                    <string>C:\Temp</string>
                    <string>C:\Temp1</string>
                </Destinations>
            </FileCastPair>
        </ArrayOfFileCastPair>
    </FileCastConfig>
</configuration>